{%- assign groups = nodes | sort:"name" -%}


<ul class="nav-list">
    {%- for node in groups -%}
      {%- include includes/active.liquid, node: node -%}
      <li class="nav-list-item{% if active %} active{% endif %}"></li>

      {%- if node.children.size > 0 and node.permalink != '/' -%}
      {%- unless node.expand_exclude -%}
      <a href="" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
      {%- endunless -%}
      {%- endif -%}

      <a href="{{ node.url }}" class="nav-list-link{% if active %} active{% endif %}">{{ node.title }}</a>
      {%- assign active = false -%}
      {%- assign children = hierarchy | where_exp:"item", "item.name == node.id" | map: "items" | first -%}
      {%- if children -%}
        {%- if node.has_collection -%}
        {%- else -%}
          {%- include nav.html nodes=children -%}
        {%- endif -%}
      {%- endif -%}

      </li>
    {%- endfor -%}
</ul>