{%- assign nodeCurrent = page.url | urlToNote: notes -%}


<ul class="nav-list">
    {%- for id in nodeCurrent.children -%}

      {%- assign node = notes[id]  -%}
      {% comment %}
      {%- include includes/active.liquid, node: node -%}
      {% endcomment %}
      <li class="nav-list-item{% if active %} active{% endif %}"></li>

      {%- if node.children.size > 0 and node.permalink != '/' -%}
      {%- unless node.expand_exclude -%}
      <a href="" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
      {%- endunless -%}
      {%- endif -%}


      <a href="{{ node | noteURL }}" class="nav-list-link active">{{ node.title }}</a>
      {%- assign active = false -%}

      {%- assign children = node.children -%}
      {%- if children -%}
      {% comment %}
          {%- include includes/nav.liquid, nodes=children -%}
      {% endcomment %}
      {%- endif -%}

      </li>
    {%- endfor -%}
</ul>