{%- assign tocNodes = notes[note.id].children -%}

{%- if tocNodes.size > 0 -%}
  <hr>
  <h2 class="text-delta">Table of contents</h2>
  {%- assign sorted_nodes = tocNodes | sort: "nav_order" -%}
  <ul>
    {%- for tocNode in sorted_nodes -%}
      <li>
        <a href="{{ notes[tocNode] | noteURL }}">{{ notes[tocNode].title }}</a>
        {%- if notes[tocNode].summary -%}
          -
          {{ notes[tocNode].summary }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
